In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [61]:
df = pd.read_csv('homework.csv')
X, y = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']], df['medv']

In [3]:
# разделяем выборку на тренировочную и тестовую
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
# делаем прогноз на тестовой выборке
reg = LinearRegression().fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [60]:
# смотрим разницу факта и прогноза
result = pd.DataFrame([np.array(y_test), y_pred]).T
result.columns = ['y_test', 'y_pred']
result

    y_test     y_pred
0     24.7  24.604424
1     19.6  23.349338
2     19.8  22.470635
3     27.9  33.243765
4     23.9  24.521749
..     ...        ...
79    27.5  16.445129
80    17.4  21.155249
81    24.1  28.853868
82    48.8  40.339517
83    18.4  15.016790

[84 rows x 2 columns]

In [63]:
# Оцениваем качество на тестовой выборки
mse = mean_squared_error(y_test, y_pred)
mse

23.035512112460907